body,
html {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
}
p {
  margin: 0;
}
.hidden {
  display: none !important;
}
.app {
  border: 1px solid;
  border-color: black;
  width: 500px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.heading {
  /* border-color: violet; */
  width: 100%;
  height: 10%;
  text-align: center;
}
.food-items {
  /* border-color: violet; */
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  font-size: 2rem;
}
.timer-row {
  margin-top: 0.5rem;
  border: 1px solid grey;
  height: 6rem;

  /* border-color: indigo; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.food-name {
  width: 50%;
  /* border-color: blue; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-left: 0.5rem;
}
.food-timer {
  width: 40%;
  /* border: 1px solid; */
  border-color: green;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
}
.start-btn {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  color: green;
  cursor: pointer;
}

.progress-bar {
  width: 0px;
  height: 20px;
  display: flex;
  background-color: blue;
  align-self: flex-start;
  justify-self: flex-start;

  justify-content: center;
}
.food-ready {
  background-color: dimgray;
  color: #fff;
}
.ready-message {
  font-size: 0.8rem;
  color: #fff;
}
.add-item-section {
  border: 1px solid black;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.heading2 {
  text-align: center;
}
.form {
  padding-left: 2rem;
  padding-right: 2rem;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}
.form-input {
  height: 1.3rem;
  font-family: "Quicksand", sans-serif;
  color: gray;
}
.submit-btn {
  grid-column: 1 / span 2;
  width: 60%;
  justify-self: center;
}
